body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    color: #333;
}

input, button, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

button {
    background-color: #6b7885;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #96a0aa;
}

.result {
    margin-top: 10px;
    color: #333;
}
